.stepper {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.stepper li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.stepper-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff; 
  /* border: 2px solid #000;  */
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-weight: bold; */
  /* font-size: 16px; */
  margin-bottom: 10px; 

  color: #A4D5DB;
text-align: center;
font-family: Space Grotesk;
font-size: 32px;
font-style: normal;
font-weight: 300;
line-height: normal;
fill: var(--white, #FFF);
filter: drop-shadow(0px 32px 41px rgba(0, 0, 0, 0.13));
}

.stepper-line {
  height:110px; /* Adjust the height of the vertical dashed line */
  width: 2px;
  background-color: #000;
}

.stepper-active {
  background-color: #5454AC; /* Active color */
  border-color: #5454AC; /* Active border color */
  color: #000; /* Active text color */
}
.stepper-active_black{
  background-color: #38484F; 
  border-color:#38484F; 
  color: #fff; 
}

.ck_gs_8_text1 {
  color: #38484f;
  font-family: Space Grotesk;
  font-size: 55px;
  font-style: normal;
  font-weight: bold;
  /* line-height: 112.5%;  */
  /* letter-spacing: -0.87px; */
}

/* .ck_gs_text2 {
          color: #38484f;
          font-family: DM Sans;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 157.2%;
        } */

.ck_gs_8_btn {
  border: none;
  border-radius: 50px;
  background: #a4d5db;
  box-shadow: 0px 46px 52px 0px rgba(96, 225, 203, 0.56);

  /* display: flex; */
  width: 290px;
  height: 68px;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  color: #38484f;
  text-align: center;
  font-family: Space Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 24px */
  letter-spacing: 0.1px;
}

.ck_gs_8_input1 {
  /* display: flex; */
  width: 710px;
  height: 186px;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  border-radius: 50px;
  border: 1px solid rgba(7, 0, 59, 0.17);
  box-shadow: 0px 14px 39px 0px rgba(15, 35, 37, 0.3);
}


@media (min-width: 320px) and (max-width: 480px) {

  .ck_gs_8_text1 {  
    font-size: 30px;
  }
  
  .ck_gs_8_input1 {
    width: 300px;
    height: 68px;
  }
  .ck_Gs_hide {
    display:none;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .ck_gs_8_text1 {  
    font-size: 30px;
  }
  
  .ck_gs_8_input1 {
    width: 300px;
    height: 68px;
  }
  .ck_Gs_hide {
    display:none;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .ck_gs_8_text1 {  
    font-size: 30px;
  }
  
  .ck_gs_8_input1 {
    width: 300px;
    height: 68px;
  }
  .ck_Gs_hide {
    display:none;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .ck_Gs_Dsktop_hide{
    display:none;
  }
}

@media (min-width: 1201px) and (max-width: 1400px) {
  .ck_Gs_Dsktop_hide{
    display:none;
  }
}

@media (min-width: 1401px) and (max-width: 1600px) {
  .ck_Gs_Dsktop_hide{
    display:none;
  }
}
