@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


.hnd{
  margin-bottom: 40px;
}

    @media (max-width: 768px) {

      @media (max-width: 768px) {
  .mss_footerMainDiv > div {
    flex-basis: 100%;
    max-width: 100%;
    margin-left: 1rem;
  }
}

  .mss_footerMainDiv .col-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  @media (max-width: 768px) {
  .mss_footerMainDiv .col-12.col-md-4 {
    flex-basis: 100%;
    max-width: 100%;
  }
}


  .mss_footerMainDiv .mss_footerWidth {
    margin-bottom: 20px;
  }

  .mss_footerMainDiv .mss_fotHead {
    margin-top: 20px;
  }
}


body {
  margin: 0px;
  font-family: Space Grotesk;
}

a {
  text-decoration: none;
}
/* -------------------------------navber------------------------------------ */
.home-rjj {
  color: #040484 !important;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
}
.request-rjj {
  text-decoration: none;
  border: 1px solid #5454ac !important;
  font-family: "Space Grotesk", sans-serif;
  margin-right: 20px;
  color: #d1ccc1;
  font-weight: 500;
  padding: 10px 24px;
  background-color: #5454ac;
}
.request-rjj:hover {
  background: #a4d5db;
}
.clint-rjj:hover {
  background: #a4d5db;
  /* color: #fff; */
}
.clint-rjj {
  text-decoration: none;
  border: 1px solid #5454ac !important;
  font-family: "Space Grotesk", sans-serif;
  color: #a4d5db;
  font-weight: 500;
  padding: 10px 24px;
}
/* .rjj-btn-mobile{
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
  } */
/* ---------------------------navbarAnd------------------------------------- */
/* -----------------------section1-------------------- */
.rjj_bg {
  background: url("/Assets/Images/bg1.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 100%; */
  background-size: 1960px 680px;
  overflow: hidden;
}
.img-hend {
  position: relative;
  left: 37%;
}
.text-tech {
  color: #38484f;
  font-family: Space Grotesk;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  line-height: 112.5%; /* 65.25px */
  letter-spacing: -0.87px;
}
.rjj_2.active {
  background-color: #5454ac;
}
.text-app {
  color: #38484f;
  text-align: justify;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 157.2%; /* 31.44px */
}
.sp-rjj {
  color: #040484;
  font-family: Space Grotesk;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  line-height: 112.5%;
  letter-spacing: -0.87px;
}
.onlylne {
  /* margin-left: 3rem; */
  margin-top: 4rem;
  border: 2px solid #a4d5db;
  width: 3rem;
  border-radius: 40px;
}
.find-rjj {
  padding: 15px 25px;
  background-color: #a4d5db;
  color: #38484f;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  box-shadow: 0px 30px 50px #60e1cb8f;
}
.find-rjj:hover {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.video-frame {
  width: 100%;
  border-radius: 30px;
  border: 3px solid #5454ac;
  /* height: 400px; */
}
.rjj-textC {
  color: #38484f;
  /* text-align: center; */
  font-family: Space Grotesk;
  font-size: 25.059px;
  font-style: normal;
  font-weight: 700;
  line-height: 30.627px; /* 122.222% */
}

.imageTopD {
  width: 246px;
  position: absolute;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
  top: 532px;
  left: 30px;
}
/* ---------------------------------card------------------------ */
.rjj_filter {
  filter: drop-shadow(#5454ac 0rem -7px 0px);
  /* height: 360px; */
}
.rjj-title {
  color: #38484f;
  font-family: Space Grotesk;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.rjj-card-text {
  color: #38484f;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.rjj_crcl {
  position: absolute;
  left: 24px;
  top: 79px;
}
.rjj_read {
  border: none;
  background: #fff;

  color: #a4d5db;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.rjj-body {
  height: 360px;
  padding: 40px;
}
/* -------------card ND--------------- */
/* ------------------------cr-section----------------------------------- */
.rjj_po {
  color: #a4d5db;
  text-align: center;
  font-family: Space Grotesk;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.144px;
}
.rjj_our {
  color: #38484f;
  text-align: center;
  font-family: Space Grotesk;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.btn-0 {
  border-radius: 50px;
  border: 1px solid #5454ac;
  padding: 10px 52px;
}
.rjj-ebtn {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

/* ------------------------section3------------------ */
.rjj_main {
  width: 65%;
}
.rjj_idea {
  color: #38484f;
  /* text-align: center; */
  font-family: Space Grotesk;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.rjj_re {
  color: #a4d5db;
  font-family: Space Grotesk;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.rjj_web {
  color: #38484f;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 168.2%; /* 33.64px */
}
.rjj_line {
  height: 71%;
  border: 1px dashed #a4d5db;
  position: absolute;
  left: 3.6rem;
  top: 3rem;
  z-index: -1;
  opacity: 0.2;
}

.ck_text_sec_12 {
  color: #5454ac;
  font-family: Space Grotesk;
  /* font-size: 58px; */
  font-style: normal;
  font-weight: 300;
  line-height: 112.5%;
  letter-spacing: -0.87px;
}
.ck_text_sec_121 {
  color: #5454ac;
  font-family: Space Grotesk;
  font-style: normal;
  font-weight: 300;
  line-height: 112.5%;
  letter-spacing: -0.87px;
}
.ck_textsec8_12 {
  opacity: 0.7;
  color: #0404fc;
  font-family: DM Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 177.2%;
}
.ck_textsec8_122 {
  opacity: 0.7;
  color: #0404fc;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  line-height: 177.2%;
}
.rjj_fex {
  display: flex;
  justify-content: center;
  gap: 44px;
}

.rjj_1 {
  padding: 10px 18px;
  /* background-color: #5454ac; */
  color: #a4d5db;
}
.rjj_2 {
  padding: 10px 18px;
  /* background-color: #5454ac; */
  color: #a4d5db;
}
.rjj_h {
  color: #a4d5db;
  font-family: Space Grotesk;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.rjj_p {
  color: #38484f;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 157.2%; /* 25.152px */
}
.rightImgeMainDivision {
  z-index: -1;
  top: 9rem;
  left: 2rem;
}
/* ----------------------------------- hit-me------------------------------- */
.main-btnrjj {
  display: flex;
  justify-content: center;
}
.h-work {
  color: #38484f;
  text-align: center;
  font-family: Space Grotesk;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.h-hit {
  color: #38484f;
  text-align: center;
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 102.2%; /* 24.528px */
}
:focus-visible {
  outline: none;
}
.btn-rjj2 {
  width: 470.5px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 1000px;
  background: #38484f;
  box-shadow: 0px 46px 52px 0px #36b8a2;
}
.input-container span {
  border: none;
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: #38484f;
  /* border: 1px solid #ced4da; */
  border-radius: 1.25rem;
}
.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: #38484f;
  border: 1px solid #38484f;
  border-radius: 1.25rem;
  justify-content: center;
}

.input1 {
  display: block;
  width: 100%;
  /* padding: 10px 16px; */
  padding: 12px 11px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  /* -webkit-appearance: none; */
  color: #fff;
  border: 1px solid #38484f;
  background: #38484f;
  transition: border 0.3s ease;
}
.btn-rjj3 {
  border: none;
  padding: 12px 33px;
  color: #fff;
  text-align: center;
  font-family: DM Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
/* -----------------------News & Articles--------------------------- */
.news-h {
  color: #5454ac;
  font-family: Space Grotesk;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.144px;
}
.blog-h {
  color: #38484f;
  /* text-align: center; */
  font-family: Space Grotesk;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.blog-p {
  color: #38484f;
  font-family: DM Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 177.2%; /* 38.984px */
}
.see-all {
  padding: 7px 25px;
  border-radius: 100px;
  border: 1px solid var(--Secondary, #7bc0e3);
  box-shadow: 0px 24px 32px 0px rgba(82, 35, 0, 0.12);
}
/* -------------------------footer---------------------------------------- */
.text-rjj {
  color: #38484f;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 187.5% */
}
.Copyright {
  color: #38484f;
  font-family: Space Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.text-w {
  color: #5454ac;
  font-family: Space Grotesk;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.text-inner {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.25);
  font-family: Space Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
}
.rjj_pr {
  color: #38484f;
  font-family: Space Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.icon-rjj {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.btn-secondary-rj {
  padding: 2px 31px;
  background: #a4d5db;
  border-radius: 1000px;
  border: 1px solid #5454ac;
}
/* ---------------------------------------------wds------------------------------------------------------------------ */

.rjj-card {
  border-radius: 40px;
  background: #e9fbf8;
  z-index: 1;
  margin-top: -100px;
}

.main-top-rjj {
  margin-top: 4rem;
  margin-bottom: -1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
/* .main-top-b {
   
} */

/* -------------------------------------------------------- */
.heroHading-rjj {
  color: #38484f;
  text-align: center;
  font-family: Space Grotesk;
  font-size: 58px;
  font-style: normal;
  font-weight: 300;
  line-height: 112.5%; /* 65.25px */
  letter-spacing: -0.87px;
}
.herodesc-rjj {
  color: #38484f;
  text-align: center;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 157.2%; /* 31.44px */
}
.saas-p {
  color: #292525;
  text-align: justify;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 152.2%; /* 30.44px */
}
.on-p {
  color: #292525;
  font-family: Space Grotesk;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.rateing-p {
  font-weight: 700;
  font-size: 32px;
  font-family: Space Grotesk;
  color: #38484f;
}

.main-p {
  padding: 50px;
}
.crcl-img {
  left: 6px;
  position: absolute;
  top: 52px;
}
.crcl-img-1 {
  left: 16px;
  position: absolute;
  top: 52px;
}
.top-h {
  color: #5454ac;
  font-family: Space Grotesk;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.144px;
}
.madil-h {
  color: #38484f;

  font-family: Space Grotesk;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.butm-p {
  /* text-align: center; */
  color: #38484f;
  font-family: DM Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 177.2%; /* 38.984px */
}
.madil-h2 {
  color: #38484f;
  font-family: "DM Sans", sans-serif;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 187.5% */
}
.spn-rj {
  color: #5454ac;
  font-family: DM Sans;
  /* font-size: 16px; */
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.btn-ry {
  border-radius: 50px;
  border: 1px solid #38484f;
  background: #a4d5db;
}
.btn-secondary-rj {
  padding: 7px 46px;
  background: #a4d5db;
  border-radius: 1000px;
  border: 1px solid #5454ac;
  /* border: none; */
}

a {
  text-decoration: none;
}
/* h5 {
    color:  #292525;
  font-family: Space Grotesk;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  }
  .text-w {
    color: rgb(131 138 145);
    font-family: Space Grotesk;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; 
  } */
.icon-rj {
  display: flex;
  justify-content: space-between;
}
.icon-fa {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.main-p1 {
  text-align: center;
  color: #38484f;
  text-align: center;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 102.2%; /* 20.44px */
}
.card-text {
  color: #38484f;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.card-title {
  color: #38484f;
  font-family: Space Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.card-rj {
  /* width: 359px; */
  height: 381px;
  flex-shrink: 0;
}
.btn-primary {
  color: #a4d5db;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.h-3 {
  text-align: center;
  color: #a4d5db;
  text-align: center;
  font-family: Space Grotesk;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.144px;
}
.h-2 {
  color: #38484f;
  text-align: center;
  font-family: Space Grotesk;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn2 {
  width: 218.084px;
  height: 45.513px;
  border-radius: 1000px;
  border: 1px solid #5454ac;
}

/* --------------------------------------------- */
.img-vector {
  left: 0px;
  margin-top: -47px;
  position: absolute;
  width: 344px;
}
.img-vector-3 {
  width: 420px;
  position: absolute;
  margin-top: -251px;
  right: 0px;
}
.h-1 {
  text-align: center;
}
.h-4 {
  text-align: center;
  color: #38484f;
  text-align: center;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 102.2%; /* 24.528px */
}
.btn-IT {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-6 {
  width: 312px;
  height: 61px;
  border: none;
  border-radius: 1000px;
  background: #38484f;
  box-shadow: 0px 46px 52px 0px #36b8a2;
}
.btn-primary-IT {
  color: #f9f9fb;
  text-align: center;
  font-family: DM Sans;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card-title-rj {
  color: #38484f;
  font-family: Space Grotesk;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 154.835%;
}
.card-text-rj {
  color: rgb(131 138 145);
  /* text-align: justify; */
  font-family: DM Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 162.2%; /* 25.952px */
}
.bi-plus::before {
  /* content: "\f4fe"; */
  background-color: #38484f;
  border-radius: 8px;
  color: white;
  /* opacity: 0.6; */
}
.rj-foter-one {
  color: #38484f;
  font-family: Space Grotesk;
  font-size: 16px;
  /* font-style: normal; */
  font-weight: 300;
  line-height: normal;
}
#more {
  display: none;
}
.btn4 {
  color: #a4d5db;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  background-color: #fff;
}
.img-ankit {
  border-radius: 144.157px;
  border: 10px solid #fff;
  /* background: url(<path-to-image>), lightgray 50% / contain no-repeat; */
}
.h-d {
  text-align: center;
}
.main-shdow {
  margin-bottom: 140px;
  margin-top: 140px;
  left: 2rem;
  border-radius: 11px;
  /* background: url(<path-to-image>), #f8f9fa -11.479px -4.818px / 103.169% 102.747% no-repeat; */
  box-shadow: 0px 56px 60px -14px rgba(13, 15, 69, 0.1);
}
.main-shdow-1 {
  margin-top: 3rem;
  margin-bottom: 140px;
  left: 2rem;
  border-radius: 11px;
  /* background: url(<path-to-image>), #f8f9fa -11.479px -4.818px / 103.169% 102.747% no-repeat; */
  box-shadow: 0px 56px 60px -14px rgba(13, 15, 69, 0.1);
}
.h-s {
  color: #a4d5db;
  text-align: center;
  font-family: Space Grotesk;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.216px;
}

.ck_text_schedule {
  color: #a4d5db;
  text-align: center;
  font-family: Space Grotesk;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.216px;
}

.ck_name_case_text {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.25);
  font-family: Space Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
.ck_name_case_text1 {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.25);
  font-family: Space Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
.ck_case_30_min {
  color: #000;
  /* text-align: left; */
  font-family: Space Grotesk;
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}

.ms_calendre {
  height: 600px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .rjj-card-text {
    color: #38484f;
    font-family: DM Sans;
    font-size: 14px;
  }
  .img-boy{
    display: none;
  }
  .b1{
    display: none;
  }
  .madil-h {
    font-size: 29px;
  }
  
  .mss_left_top_line{
    display: none;
  }
  .top-h {
    text-align: center;
    font-size: 24px;
    margin-top: 50px;
  }
  .main-p {
    padding: 15px;
  }
  .butm-p {
    text-align: center;
    font-size: 25px;
  }
  .ck_carousel4_text1 {
    display: none;
  }
  .wrapper {
    margin-left: 60px;
  }

  .ck_card_111 {
    width: 1rem;
  }

  .ck_75768 {
    display: none;
  }
  .rjj-city {
    font-size: 26px;
  }
  .main-shdow {
    margin-bottom: 0px;
    /* margin-top: 140px; */
    left: 0rem;
  }

  .ms_mobilepading {
    padding: 10px 0px;
  }
  .heroHading-rjj {
    font-size: 42px;
  }
  .text-tech {
    /* font-size: 25px; */
    font-size: 35px;
  }
  .text-app {
    font-size: 18px;
  }
  /* .video-frame {
    width: 100%;
    height: 223px;
  } */
  .onlylne {
    margin-top: 0rem;
    margin-left: 0rem;
  }
  .sp-rjj {
    font-size: 25px;
  }
  .news-h {
    font-size: 30px;
    text-align: center;
  }
  .blog-h {
    font-size: 30px;
    text-align: center;
  }
  .blog-p {
    text-align: center;
  }
  .btn_rjj1 {
    text-align: center;
  }
  /* .rjj-textC {
    padding: 44px
 } */
  .btn-rjj2 {
    width: 306.5px;
  }
  .btn-rjj3 {
    /* border: none; */
    padding: 7px 23px;
  }
  .btn-rjj2 {
    /* width: 470.5px; */
    height: 41px;
  }
  .input1 {
    padding: 8px 11px;
  }
  .rightImgeMainDivision {
    z-index: -1;
    top: 2rem;
    left: 0rem;
  }
  .rjj_main {
    width: 100%;
  }
  .h-work {
    font-size: 24px;
  }
  .h-hit {
    font-size: 15px;
  }
  .rjj_idea {
    text-align: center;

    font-size: 25px;
  }
  .rjj_re {
    font-size: 24px;
  }
  .rjj_web {
    font-size: 15px;
  }
  .rjj_h {
    text-align: center;
    font-size: 25px;
  }
  .rjj_p {
    font-size: 15px;
  }
  /* .rjj_web {
    font-size: 16px;
  } */
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ck_ln_hide {
    display: none;
  }
  .hnd{
    margin-bottom: 80px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .img-boy{
    display: none;
  }
  /* .b1{
    display: none;
  } */
  .ck_ln_hide {
    display: none;
  }
  .top-h {
    text-align: center;
    font-size: 24px;
    margin-top: 50px;
  }
  .main-p {
    padding: 15px;
  }
  .butm-p {
    text-align: center;
    font-size: 25px;
  }
  .ck_carousel4_text1 {
    display: none;
  }
  .wrapper {
    margin-left: 60px;
  }

  .ck_card_111 {
    width: 1rem;
  }

  .ck_75768 {
    display: none;
  }
  /* .video-frame {
     
        height: 147px;
    } */
  .onlylne {
    margin-left: 0rem;
  }
  .text-tech {
    font-size: 40px;
  }
  .rightImgeMainDivision {
    z-index: -1;
    top: 0rem;
    left: 0rem;
  }
  .rjj_main {
    width: 100%;
  }
  .rjj_idea {
    text-align: center;

    font-size: 25px;
  }
  .rjj_re {
    font-size: 24px;
  }
  .rjj_web {
    font-size: 15px;
  }
  .rjj_h {
    font-size: 25px;
  }
  .rjj_p {
    font-size: 10px;
  }
  /* .rjj_web {
        font-size: 16px;
    } */
  .h-work {
    /* color: #38484F;
        text-align: center;
        font-family: Space Grotesk; */
    font-size: 43px;
  }
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img-hend {
    position: relative;
    left: 45%;
}
.hnd{
  margin-bottom: 75px;
}
}

@media (min-width: 769px) and (max-width: 992px) {
  .ck_ln_hide {
    display: none;
  }
  .ck_76768 {
    display: none;
  }

  .top-h {
    /* text-align:center; */
    font-size: 40px;
    margin-top: 50px;
  }
  .main-p {
    padding: 15px;
  }
  .butm-p {
    /* text-align:center; */
    font-size: 25px;
  }
  .ck_carousel4_text1 {
    display: none;
  }
  .wrapper {
    margin-left: 60px;
  }

  .ck_card_111 {
    width: 1rem;
  }

  .rjj_main {
    width: 100%;
  }
  /* .rjj_h {
       
        font-size: 13px;
    } */
  .rjj_p {
    font-size: 10px;
  }
  .rjj_web {
    font-size: 16px;
  }
  .rjj_idea {
    font-size: 34px;
  }
  .h-work {
    /* color: #38484F;
        text-align: center;
        font-family: Space Grotesk; */
    font-size: 43px;
  }
  .blog-p {
    font-size: 27px;
  }
  .rjj-body {
    text-align: center;
  }
  .rjj_crcl {
    left: 314px;
  }
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rjj_fex {
    width: 140%;
  }
  .rightImgeMainDivision {
    /* left: 4rem; */
    top: 13rem;
  }
  .ft-rjj {
    text-align: center;
    width: 100%;
  }
  .ft2-rjj {
    width: 33.3%;
  }
  .img-hend {
    position: relative;
    left: 45%;
}
.hnd{
  margin-bottom: 65px;
}
}
@media (min-width: 993px) and (max-width: 1200px) {
  .hnd{
    margin-bottom: 56px;
  }
  .madil-h {
    font-size: 38px;
  }
  .ck_ln2_hide {
    display: none;
  }
  .btn-secondary-rj {
    padding: 7px 5px;
    margin-left: 22px;
  }
  .ck_76768 {
    display: none;
  }
  .rjj-body {
    padding: 15px;
  }
  .rjj_crcl {
    position: absolute;
    left: 1px;
    top: 53px;
  }
  .text-tech {
    font-size: 35px;
  }
  .sp-rjj {
    font-size: 35px;
  }
  .rightImgeMainDivision {
    z-index: -1;
    top: 15rem;
  }
  .rjj_fex {
    width: 140%;
  }
}
@media (min-width: 1201px) and (max-width: 1400px) {
  .ck_76768 {
    display: none;
  }
  .ck_ln_hide {
    display: none;
  }
}

@media (min-width: 1401px) and (max-width: 1600px) {
  .ck_76768 {
    display: none;
  }
  .ck_ln_hide {
    display: none;
  }
}
