.cart_location_row1 {
  border: 1px solid var(--grey, #b5abaa);

  /* width: 1010px; */
  padding: 40px;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
}

.cart_location_row2 {
  border: 1px solid var(--grey, #b5abaa);
  background: var(--white, #fff);

  padding: 40px;
  justify-content: space-between;
  align-items: center;
}

.cart_location_row3 {
  border: 1px solid var(--grey, #b5abaa);
  background: var(--white, #fff);

  padding: 40px;
  justify-content: space-between;
  align-items: center;
}

.ck_cart1_sec1_location_text1 {
  color: var(--black, #311c1c);
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.ck_cart1_sec1_location_text2 {
  color: var(--black, #311c1c);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.ck_cart1_sec1_location_text3 {
  color: var(--black, #311c1c);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.08px;
}
.ck_cart1_sec1_location_text4 {
  color: #5454ac;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.ck_cart1_sec1_location_btn1 {
  color: #d1ccc1;
  text-align: center;
  font-family: Space Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
  letter-spacing: 0.08px;

  border-radius: 50px;
  background: #38484f;
  box-shadow: 0px 46px 52px 0px rgba(96, 225, 203, 0.56);

  border: none;
  width: 230px;
  height: 52px;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.ck_cart1_sec1_location_input1 {
  border: 1px solid var(--beige, #ede8e7);

  /* display: flex; */
  width: 730px;
  height: 52px;
  padding: 10px;
  align-items: center;
  gap: 10px;
}

.ck_cart1_sec1_location_text5 {
  color: var(--black, #311c1c);
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.ck_cart1_sec1_location_text6 {
  color: #040484;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}
.ck_cart1_sec1_location_text7 {
  color: var(--black, #311c1c);
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media (min-width: 320px) and (max-width: 480px) {
    .ck_cart_location_left{
        display:none;
    }
    .ck_cart1_sec1_location_input1 {
      
        width: 300px;
       
      }
}

@media (min-width: 481px) and (max-width: 768px) {
    .ck_cart_location_left{
        display:none;
    }
    .ck_cart1_sec1_location_input1 {
        width: 300px;  
      }
}

@media (min-width: 769px) and (max-width: 992px) {
    .ck_cart_location_left{
        display:none;
    }
    .ck_cart1_sec1_location_input1 {
        width: 380px;  
      }
}

@media (min-width: 993px) and (max-width: 1200px) {
    .ck_cart1_sec1_location_input1 {
        width: 500px;  
      }
}

@media (min-width: 1201px) and (max-width: 1400px) {
}

@media (min-width: 1401px) and (max-width: 1600px) {
}
