.ck_cart1_sec1 {
  /* width: 100px; */
  height: 600px;
  margin-top: 50px;
  border-radius: 24px;
  border: 1px solid #5454ac;
  background: #38484f;
}

.ck_cart1_text10 {
  color: #000;
  font-family: Mulish;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.ck_cart1_text3 {
  margin-top: 50px;
}

.ck_cart1_text1 {
  color: #000;
  font-family: Mulish;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.ck_cart1_text2 {
  color: #000;
  font-family: Mulish;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.ck_cart1_bg1 {
  /* width: 550px; */
  /* margin-top: 20px; */

  height: 500px;
  flex-shrink: 0;

  border-radius: 3px;
  background: #d1ccc1;
}

.ck_cart1_bg2 {
  /* width: 400px; */
  margin-top: 25px;
  height: 250px;
  flex-shrink: 0;

  border-radius: 3px;
  background: #d1ccc1;
}

.ck_cart1_bg3 {
  height: 250px;

  border-radius: 3px;
  border: 1px solid #f1d5bb;
  background: var(--white, #fff);
}
.ck_cart1_icon1 {
  margin-top: 70px;
}

.icon-container {
  margin: 50px;
}

.ck_cart1_input1 {
  width: 45px;
  height: 35px;
  border: none;
  background: var(--white, #fff);
  color: #000;
  font-family: Space Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ck_cart1_input2 {
  border: 1px solid #f1d5bb;
  background: var(--white, #fff);
  width: 100%;
  height: 70px;
  text-align: start;
  /* justify-content:center; */

  color: rgba(0, 0, 0, 0.6);
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.ck_cart1_text4 {
  color: #243916;
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ck_cart1_text5 {
  color: #000;
  margin-top: 10px;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ck_cart1_text6 {
  color: #000;
  font-family: Space Grotesk;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 28px;
  padding-top: 20px;
}

.ck_cart1_text7 {
  color: rgba(0, 0, 0, 0.8);
  font-family: Space Grotesk;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 10px;
}
.ck_cart1_text_71 {
  color: rgba(0, 0, 0, 0.8);
  font-family: Space Grotesk;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* padding-top: 10px; */
}

.ck_cart1_text_71_1 {
  color: rgba(0, 0, 0, 0.8);
  font-family: Space Grotesk;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.ck_cart1_text_72 {
  color: rgba(0, 0, 0, 0.8);
  font-family: Space Grotesk;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.ck_cart1_text_72_1 {
  color: rgba(0, 0, 0, 0.8);
  font-family: Space Grotesk;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.ck_cart1_text_73 {
  color: rgba(0, 0, 0, 0.8);
  font-family: Space Grotesk;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.ck_cart1_text_73_1 {
  color: rgba(0, 0, 0, 0.8);
  font-family: Space Grotesk;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.ck_cart1_text11 {
  color: rgba(0, 0, 0, 0.8);
  font-family: Space Grotesk;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 10px;
}
.ck_cart1_button1 {
  border-radius: 50px;
  border: none;
  background: #38484f;
  box-shadow: 0px 46px 52px 0px rgba(96, 225, 203, 0.56);

  color: #d1ccc1;
  text-align: center;
  font-family: Space Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.12px;

  /* padding:2px 30px 0px 30px; */
  /* display: flex; */
  /* width: 200px; */
  /* height: 78px; */
  padding: 15px 30px 25px 50px;
  /* padding: 10px; */

  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  /* padding-top: 30px; */
}
.ck_cart1_button2 {
  border-radius: 30px;
  background: #38484f;
  box-shadow: 0px 46px 52px 0px rgba(96, 225, 203, 0.56);
  border: none;

  display: flex;
  /* width: 166px; */
  height: 50px;
  padding: 25px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  margin: 15px 0 0px 30px;

  color: #d1ccc1;
  text-align: center;
  font-family: Space Grotesk;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.12px;
}

.ck_cart1_text8 {
  color: #000;
  font-family: Space Grotesk;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  padding: 25px;
}

.ck_cart1_text9 {
  color: #000;
  font-family: Mulish;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.ck_cart_minus {
  width: 20px;
  height: 20px;
  flex-shrink: 0;

  color: #000;
  font-family: Space Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ck_cart_plus {
  width: 20px;
  height: 20px;
  flex-shrink: 0;

  color: #000;
  font-family: Space Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ck_cart_minus,
.ck_cart_plus {
  cursor: pointer;
}

/* 
.ck_cart1_sec1_cart{
  background: #7BA0A6;
 height: 100px;
 width:100%;
 
 }
 
 .ck_cart1_sec1_location{
   background: #7BA0A6;
   height: 100px;
   width:100%;
 }
 
 .ck_cart1_sec1_arrow{
   background: #7BA0A6;
   height: 100px;
   width:100%;
 } */

.ck_cart1_sec1_cart,
.ck_cart1_sec1_location,
.ck_cart1_sec1_arrow {
  height: 100px;
  width: 100%;
}

.icon-container.active {
  background: #7ba0a6;
}

.icon-container {
  cursor: pointer;
}

/* .d-flex .ck_cart1_package_radio {
  margin-top: 10px; 
} */

@media (min-width: 320px) and (max-width: 480px) {
  .ck_cart1_sec2_mobile {
    height: 100px;
    margin-top: 50px;
    border-radius: 24px;
    border: 1px solid #5454ac;
    background: #38484f;
  }
  .cart1_ck_hide {
    display: none;
  }
  .ck_cart1_bg1 {
    margin: 20px;
  }

  .ck_cart1_text4 {
    font-size: 16px; /* Adjust font size as needed */
  }

  .ck_cart1_input1 {
    width: 40px; /* Adjust width as needed */
  }

  .ck_cart1_button1 {
    font-size: 16px;
  }

  /* .ck_cart1_text8 {
    font-size: 16px; 
 } */
  .ck_cart1_radio1_image1 {
    /* max-width: 100%; 
  height: auto; */
    width: 40px;
    height: 40px;
    margin: 5px;
  }

  .justify-content-between > * {
    margin-right: 5px;
  }
  .cart1_user_ck_hide {
    display: none;
  }
  .ck_cart1_package_radio {
    margin-left: -10px; /* Adjust as needed */
  }

  .ck_cart1_text3 {
    padding: 0 12px; /* Adjust as needed */
  }

  .ck_cart1_bg2,
  .ck_cart1_bg3 {
    margin-top: 20px; /* Add space between the elements */
  }

  .ck_cart1_icon1 {
    width: 36px;
    height: 36px;
  }

  .ck_cart1_bg2,
  .ck_cart1_bg3 {
    padding: 15px;
  }

  /* .ck_cart1_text6,
 .ck_cart1_text8 {
    font-size: 16px; 
 } */

  .ck_cart1_button1 {
    font-size: 16px;
  }
  .ck_cart1_button1 {
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .cart1_user_ck_hide {
    display: none;
  }
  .cart1_ck_hide {
    display: none;
  }
  /* .cart1_ck_radio{
   
  }
  .ck_cart1_radio1_image1{
    width:20px;
    height:20px;
  } */

  .ck_cart1_bg1 {
    margin: 20px;
  }

  .ck_cart1_text4 {
    font-size: 16px;
  }

  .ck_cart1_input1 {
    width: 40px;
  }

  .ck_cart1_button1 {
    font-size: 16px;
  }

  /* .ck_cart1_text8 {
    font-size: 16px; 
 } */
  .ck_cart1_radio1_image1 {
    max-width: 100%;
    height: auto;
    margin: 5px;
  }
  .justify-content-between > * {
    margin-right: 5px;
  }
  .ck_cart1_package_radio {
    margin-left: -10px; /* Adjust as needed */
  }
  .ck_cart1_text3 {
    padding: 0 12px; /* Adjust as needed */
  }

  .ck_cart1_bg2,
  .ck_cart1_bg3 {
    margin-top: 20px; /* Add space between the elements */
  }

  .ck_cart1_icon1 {
    width: 36px;
    height: 36px;
  }

  .ck_cart1_bg2,
  .ck_cart1_bg3 {
    padding: 15px; /* Add padding for better spacing on mobile */
  }

  /* .ck_cart1_text6,
 .ck_cart1_text8 {
    font-size: 16px; 
 } */

  .ck_cart1_button1 {
    font-size: 16px;
  }
  .ck_cart1_button1 {
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .ck_cart1_sec2_mobile {
    height: 100px;
    margin-top: 50px;
    border-radius: 24px;
    border: 1px solid #5454ac;
    background: #38484f;
  }
  .cart1_ck_hide {
    display: none;
  }
  .ck_cart1_bg1 {
    margin: 20px;
  }

  .ck_cart1_text4 {
    font-size: 16px; /* Adjust font size as needed */
  }

  .ck_cart1_input1 {
    width: 40px; /* Adjust width as needed */
  }



  /* .ck_cart1_text8 {
    font-size: 16px; 
 } */
  .ck_cart1_radio1_image1 {
    /* max-width: 100%; 
  height: auto; */
    width: 40px;
    height: 40px;
    margin: 5px;
  }

  .justify-content-between > * {
    margin-right: 5px;
  }
  .cart1_user_ck_hide {
    display: none;
  }
  .ck_cart1_package_radio {
    margin-left: -10px; /* Adjust as needed */
  }

  .ck_cart1_text3 {
    padding: 0 12px; /* Adjust as needed */
  }

  .ck_cart1_bg2,
  .ck_cart1_bg3 {
    margin-top: 20px; /* Add space between the elements */
  }

  .ck_cart1_icon1 {
    width: 36px;
    height: 36px;
  }

  .ck_cart1_bg2,
  .ck_cart1_bg3 {
    padding: 15px;
  }

  /* .ck_cart1_text6,
 .ck_cart1_text8 {
    font-size: 16px; 
 } */

  .ck_cart1_button1 {
    font-size: 16px;
  }
  
  .ck_cart1_button1 {
    width: 80%;
    margin: 0 0 0 80px ; 
        text-align: center;
    align-items:center;
    justify-content:center;

  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .cart2_ck_hide {
    display: none;
  }

  .ck_cart1_text7 {
    font-size: 20px;
  }
  .ck_cart1_text11 {
    font-size: 20px;
  }
  .ck_cart1_text6 {
    font-size: 25px;
    padding-top: 40px;
  }
  .ck_cart1_button1 {
    padding: 10px 30px 5px 30px;
    font-size: 15px;
  }
  .ck_cart1_text8 {
    font-size: 25px;
  }
}

@media (min-width: 1201px) and (max-width: 1400px) {
  .cart2_ck_hide {
    display: none;
  }
}

@media (min-width: 1401px) and (max-width: 1600px) {
  .cart2_ck_hide {
    display: none;
  }
}
