

.ck_case_text3{
    color: #38484F;
    text-align: center;
    font-family: Space Grotesk;
    font-size: 58px;
    font-style: normal;
    font-weight: 300;
    line-height: 112.5%;
    letter-spacing: -0.87px;
}
.box-rjj1{
    border-radius: 30px;
     background: #A4D5DB;  
     width: 1000px;
     height: 380px;

}
.rjj-card-1{
    margin: 60px;
   
    width: 90%;
}
.box-rjj2{
    padding: 20px;
    border-radius: 12px;
background: #FDFDFF;
box-shadow: 0px 58px 76px 0px rgba(7, 0, 59, 0.06);
}
.Lunar-rjj{
    color: #38484F;
text-align: center;
font-family: Space Grotesk;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.miss-rjj{
    color: #38484F;
text-align: center;
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 174.7%; /* 31.446px */
}

@media (min-width: 320px) and (max-width: 480px) {

    .ck_case_text3{
       
        font-size:40px;
        font-weight:500;
    }
    .ck_text2{
    font-size: 20px;
    }
    .ck_name_case_text{
        /* margin-left:15px;  */
        text-align:center;
    }
    .ck_case_30_min{
        /* margin-left:15px; */
        text-align:center;
    }
    .ck_case_text2{
        margin-left:15px;
    }
    .ck_case_img1{
        text-align:center;
    }
    .rjj-card-1{
        margin: 17px;
       
     
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    
   
    .ck_case_text3{
       
        font-size:40px;
        font-weight:500;
    }
    .ck_text2{
    font-size: 20px;
    }
    .ck_name_case_text{
        /* margin-left:15px;  */
        text-align:center;
    }
    .ck_case_30_min{
        /* margin-left:15px; */
        text-align:center;
    }
    .ck_case_text2{
        margin-left:15px;
    }
    .ck_case_img1{
        text-align:center;
    }
    .rjj-card-1{
        margin: 25px;
       
     
    }
}

@media (min-width: 769px) and (max-width: 992px) {

    .ck_case_text3{
       
        font-size:50px;
        font-weight:500;
    }
    .ck_text2{
    font-size: 30px;
    }
    .ck_name_case_text{
        /* margin-left:15px;  */
        text-align:center;
    }
    .ck_case_30_min{
        /* margin-left:15px; */
        text-align:center;
    }
    .ck_case_text2{
        margin-left:15px;
        text-align:center;
    }


    .ck_case_img1{
        text-align:center;
    }
    .ck_case_group{
        text-align:center;
    }
    .rjj-card-1{
        margin: 35px;
       
       
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    .ck_name_case_text{
        /* margin-left:15px;  */
        text-align:center;
    }
    .ck_case_30_min{
        /* margin-left:15px; */
        text-align:center;
    }
    .ck_case_text2{
        margin-left:15px;
    }
    .ck_case_img1{
        text-align:center;
    }
    .rjj-card-1{
        margin: 45px;
       
    
    }
}

@media (min-width: 1201px) and (max-width: 1400px) {

    .ck_name_case_text{
        /* margin-left:15px;  */
        text-align:center;
    }
    .ck_case_30_min{
        /* margin-left:15px; */
        text-align:center;
    }
    .ck_case_text2{
        margin-left:15px;
    }
    .ck_case_img1{
        text-align:center;
    }

}

@media (min-width: 1401px) and (max-width: 1600px) {
    .ck_name_case_text{
        /* margin-left:15px;  */
        text-align:center;
    }
    .ck_case_30_min{
        /* margin-left:15px; */
        text-align:center;
    }
    .ck_case_text2{
        margin-left:15px;
    }
    .ck_case_img1{
        text-align:center;
    }
}

