.ck_text1{
    color: #38484F;
text-align: center;
font-family: Space Grotesk;
font-size: 48px;
font-style: normal;
font-weight: 300;
line-height: 112.5%; 
letter-spacing: -0.87px;
}

.ck_text2{
    color: #38484F;
/* text-align: center;
font-family: DM Sans;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 157.2%;  */
/* color: rgba(56, 72, 79, 1); */
/* color: #6c7073; */

font-family: DM Sans;
font-size: 20px;
font-weight: 500;
line-height: 31px;
letter-spacing: 0em;
text-align: center;

}

.ck_card1{
    /* width: 1400px; */
/* height: 1200px; */
border-radius: 40px;
background: #E9FBF8;
z-index:1;
margin-top:-100px;
}

.ck_card2{
    border-radius: 11px;
/* background: url(<path-to-image>), lightgray -11.479px -4.818px / 103.169% 102.747% no-repeat; */
box-shadow: 0px 56px 60px -14px rgba(13, 15, 69, 0.10);
/* height: 550px; */
overflow-y: auto; 
        max-height: 375px;

/* overflow-y: auto; */
}
.ck_card3{
    border-radius: 11px;
/* background: url(<path-to-image>), lightgray -11.479px -4.818px / 103.169% 102.747% no-repeat; */
box-shadow: 0px 56px 60px -14px rgba(13, 15, 69, 0.10);
/* height: 600px; */

}

.calendly-inline-widget {
    height: 600px; /* Adjust the height as needed */
}



  .ck_img3{
    border-radius: 144.157px;
    border: 10px solid #fff;
  }
  .ck_img4{
    /* border:10px solid #fff; */
    /* border-radius:1000px; */
    /* height:50px;
    width:50px; */
  }

  .ck_img5{
    height:40px;
    width:60px;
  }

  .ck_text3{
    color: #38484F;
text-align: justify;
font-family: DM Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 152.2%; /* 30.44px */
  }

  @media (min-width: 320px) and (max-width: 480px) {
  }
  
  @media (min-width: 481px) and (max-width: 768px) {
  }
  
  @media (min-width: 769px) and (max-width: 992px) {
  }
  
  @media (min-width: 993px) and (max-width: 1200px) {
  }
  
  @media (min-width: 1201px) and (max-width: 1400px) {
  }
  
  @media (min-width: 1401px) and (max-width: 1600px) {
  }
  