.ck_form_card1{
    border-radius: 50px;
   background: #fff;
   /* width: 647px; */
   /* height: 1140px; */
    /* box-sizing: border-box; */
    /* rgba(0, 0, 0, 0.24) 0px 18px 14px; */
    /* background-color: #a4d5db; */
    /* padding: 50px 0px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin-bottom: 3rem;
}

.btnonly {
    background-color: #a4d5db;
    padding: 15px 26px; 
    font-size: 14px 
    /* box-shadow: 0px 36px 72px #60e1cb8f; */
    /* font-family: "Space Grotesk", sans-serif; */
  }
  .btnonly:hover{
    background-color: #5454ac;
  color:#fff;
  }
  .error {
    color: #ff0a47;
  }
  textarea {
    width: 100%;
    /* border: 1px solid #ff0a47 !important; */
  }

  .onlyhr {
    width: 90%;
    /* background-color: #d1ccc1; */
    /* height: 1px; */
    border: 1px solid #d1ccc1;
    margin: 0 auto;
    margin-top: 30px;
    opacity: 0.4;
    margin-bottom: 30px;
  }

  .ck_form_share {
    font-size: 15px;
  }

  .ck_form_not {
    font-size: 9px;
    color: #7f7f7f;
    font-weight: 400;
  }

  .onlyback {
    border: 2px solid #e6e6e6 
    /* border-radius: 10px  */
    /* background-color: #f2f2f2  */
    /* color: #7f7f7f  */
  }

  .star1 {
    margin-top: -15px;
  }
.ck_form_text1{
    font-size: 38px;
    color: #a4d5db;
    font-family: "Space Grotesk", sans-serif;
}

.fa-close:before,
.fa-multiply:before,
.fa-remove:before,
.fa-times:before,
.fa-xmark:before {
  content: "\f00d";
  font-size: 36px;
  
}

@media (min-width: 320px) and (max-width: 480px) {
  .ck_form_text1{
    font-size: 23px;
   
}
.ck_form_text991 {
  font-size: 15px;
  color: #5454AC;
  font-family: Space Grotesk;
  font-size: 24px;
}

.fa-xmark:before {
  font-size: 30px;
}
}

@media (min-width: 481px) and (max-width: 768px) {
  .ck_form_text1{
    font-size: 40px;
   
}
}

@media (min-width: 769px) and (max-width: 992px) {
  .ck_form_text1{
    font-size: 60px;
   
}

.ck_form_card1{
  border-radius: 50px;
 background: #fff;
 width: 647px;
 /* height: 1140px; */
  /* box-sizing: border-box; */
  /* rgba(0, 0, 0, 0.24) 0px 18px 14px; */
  /* background-color: #a4d5db; */
  /* padding: 50px 0px; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      margin-bottom: 3rem;
}

.ck_form_msg{
  margin-top:10px;
  text-align:center;
}
}

@media (min-width: 993px) and (max-width: 1200px) {
  .ck_form_text1{
    font-size: 60px;
   
}

.ck_form_card1{
  border-radius: 50px;
 background: #fff;
 width: 647px;
 /* height: 1140px; */
  /* box-sizing: border-box; */
  /* rgba(0, 0, 0, 0.24) 0px 18px 14px; */
  /* background-color: #a4d5db; */
  /* padding: 50px 0px; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      margin-bottom: 3rem;
}

.ck_form_msg{
  margin-top:10px;
  text-align:center;
}
}



@media (min-width: 1201px) and (max-width: 1400px) {
}

@media (min-width: 1401px) and (max-width: 1600px) {
}


  