.ck_form_text99{
font-size:15px;
color: #A4D5DB;
font-family: Space Grotesk;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: 60px; 
}
.ck_form_text991{
    /* font-size:15px; */
    color: #5454AC;
font-family: Space Grotesk;
font-size: 38px;
font-style: normal;
font-weight: 700;
line-height: 60px;
}
@media (min-width: 320px) and (max-width: 480px) {
   
  .ck_form_text991 {
    font-size: 15px;
    color: #5454AC;
    font-family: Space Grotesk;
    font-size: 24px;
  }
}